<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="robots" content="index, follow"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=7">

    <title>Vue-Tiny-Lazyload-Img</title>

    <% for (var chunk in htmlWebpackPlugin.files.css) { %>
      <link rel="preload" href="<%= htmlWebpackPlugin.files.css[chunk] %>"  as="style">
    <% } %>

    <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
      <!-- <% if(chunk.indexOf('runtime') == -1){ %> -->
        <link rel="preload" href="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>" as="script">
      <!-- <% } %> -->
    <% } %>

    <meta name="language" content="en-EN"/>
    <meta name="author" content="Irfan Maulana"/>

    <meta name="description" content="ðŸŒ A small size Vue.js v.2+ directive for lazy loading images" />

    <meta property="og:title" content="Vue-Tiny-Lazyload-Img">
    <meta property="og:description" content="ðŸŒ A small size Vue.js v.2+ directive for lazy loading images" />

    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:creator" content="@maz_ipan"/>
    <meta name="twitter:title" content="Vue-Tiny-Lazyload-Img">
    <meta name="twitter:description" content="ðŸŒ A small size Vue.js v.2+ directive for lazy loading images" />

    <link rel="icon" type="image/png" sizes="32x32" href="assets/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/icons/favicon-16x16.png">

    <meta name="msapplication-TileColor" content="#4DBA87">
    <meta name="msapplication-TileImage" content="assets/icons/msapplication-icon-144x144.png">
    <meta name="theme-color" content="#4DBA87">

    <link rel="apple-touch-startup-image" href="assets/icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" href="assets/icons/apple-touch-icon-152x152.png">
    <link rel="mask-icon" href="assets/icons/safari-pinned-tab.svg" color="#4DBA87">

    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="Vue-Tiny-Lazyload-Img">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="HandheldFriendly" content="true">
    
    <script src="https://polyfill.io/v2/polyfill.min.js?features=IntersectionObserver"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-25065548-2"></script>
    <script>window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments);}gtag('js', new Date());gtag('config', 'UA-25065548-2');</script>

  </head>
  <body>
    <noscript>
      <div class="content">
        <p>This page is powered by Vue, but your Javascript was disable.<br>Please use the latest browser and enable javascript.</p>
      </div>
    </noscript>

    <div id="app"></div>
  </body>
</html>
